body { 
    background-image: url("background.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed; 
    padding: 20px;
}

h1 { 
    text-align: center; 
    margin: 75px; 
    font-size: 48px; 
    color: #FFCC00; 
    letter-spacing: 2px; 
    font-family: 'Press Start 2P', monospace;
    text-shadow: -2px -2px 0 #003049, 2px -2px 0 #003049, -2px  2px 0 #003049, 2px 2px 0 #003049, 4px 4px 6px rgba(0,0,0,0.6); 
}

table { 
    margin: 0 auto; 
    border-collapse: collapse; 
    box-shadow: 0 12px 40px rgba(0,0,0,0.1); 
    margin-bottom: 75px; 
}

th, td { 
    border: 1px solid black; 
    padding: 10px; 
    text-align: center; 
}

th { 
    background-color: #4975a4; 
    color: #fffdfd; 
    letter-spacing: 1px; 
}

#poke-details {  padding: 12px; }  
        
.details { padding: 4px; }  
        
.headings { font-size: 18px; }

.headings, .details { font-family: 'Menio', monospace; }

tbody tr { 
    font-family: 'Lato', "Helvetica Neue", Arial, sans-serif; 
    font-weight: 500; 
}

td:nth-child(4), td:nth-child(5), td:nth-child(6), td:nth-child(7), td:nth-child(8), #no-guard, #gigantamax { 
    font-style: italic; 
}

.col-no, .col-image, .col-name {background: #FFF3E0; }

.col-type, .col-category { background: #E3F2FD; }

.col-abilities { background:#E8F5E9; } 
        
.col-weaknesses { background:#FFF59D; }
        
.col-link { background: #F3E5F5; }
        
a { 
    color: #003049; 
    text-decoration: none; 
    transition: color .22s ease, background-color .22s ease, transform .12s ease; 
    font-weight: 500; 
}
        
a:hover { font-weight: bold; }

.psychic-type:hover { color: rgb(226, 111, 182)} 

.bug-type:hover { color: rgb(124, 158, 77)}
        
.ghost-type:hover { color:rgb(119, 99, 159)} 

.dark-type:hover { color: rgb(112, 112, 112);}
        
.grass-type:hover { color: rgb(165, 203, 98)} 

.fire-type:hover { color:rgb(237, 132, 62)}
        
.poison-type:hover { color:rgb(176, 129, 197)} 

.rock-type:hover { color:rgb(159, 141, 56)}
        
.flying-type:hover { color: rgb(104, 196, 235)} 

.normal-type:hover { color: rgb(188, 185, 184)}
        
.water-type:hover { color: rgb(89, 144, 192)} 

.fighting-type:hover { color:rgb(199, 109, 54)}
        
.electric-type:hover { color:rgb(234, 214, 87)} 

.fairy-type:hover { color:rgb(243, 188, 230)}
        
.steel-type:hover { color:rgb(163, 182, 184)} 

.ice-type:hover { color:rgb(113, 193, 227)}
        
.ground-type:hover { color:rgb(249, 223, 54)} 

.dragon-type:hover { color:rgb(225, 118, 94)}
       
footer { 
    text-align: center; 
    margin-top: 100px; 
    font-style: italic; 
    text-shadow: 1px 1px rgb(0, 0, 0);  
    color: white; 
}